# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

In [0]:
def vol(rad):
    pass

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [0]:
def ran_check(num,low,high):
    pass

If you only wanted to return a boolean:

In [0]:
def ran_bool(num,low,high):
    pass

In [0]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [0]:
def up_low(s):
    pass

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [0]:
def unique_list(l):
    pass

In [0]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [0]:
def multiply(numbers):  
    pass

In [0]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [0]:
def palindrome(s):
    pass

In [0]:
palindrome('helleh')

True

____
**Hard**:

Write a Python function to check whether a string is pangram or not.

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: Look at the string module

In [0]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):  
    pass

In [0]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [0]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

####**Great Job!**